<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="homepage">Menu</a></li>
            <li class="main-header__item"><a class="<%= path === 'survey' ? 'active' : '' %>" href="survey">Ankiety</a></li>
            <li class="main-header__item"><a class="<%= path === 'survey2' ? 'active' : '' %>" href="survey2">Ankiety2</a></li>
            <li class="main-header__item"><a class="<%= path === 'example' ? 'active' : '' %>" href="example">Example</a></li>
        </ul>
    </nav>
</header>