<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Panel</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/main2.css">
=======
    <link rel="stylesheet" href="/css/main.css">
>>>>>>> 88ef58257706174692e5344938894e04b0ef851b

</head>

<body>
<%- include('./includes/navigation.ejs') %>

<<<<<<< HEAD

<main>

</main>

=======
<main>
</main>
>>>>>>> 88ef58257706174692e5344938894e04b0ef851b
</body>

</html>